* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: linear-gradient(120deg, #c45893, #fda885);
  color: white;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  min-height: 100vh;
}

header {
  font-size: 1.5rem;
}

header,
form {
  min-height: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

form input,
form button {
  padding: 1rem;
  font-size: 1.5rem;
  border: none;
  background: white;
}

form button {
  color: mediumpurple;
  background-color: white;
  cursor: pointer;
  transition: all 0.7s ease;
}
form button:hover {
  background: mediumpurple;
  color: white;
}
.todoContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}
.todoList {
  min-width: 30%;
  list-style: none;
}
.todo {
  margin: 0.5rem;
  background: white;
  color: black;
  font-size: 1.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: all 0.7s ease;
}
.todo li {
  flex: 1;
}
.trashBtn,
.completeBtn {
  background: rgb(224, 5, 5);
  color: azure;
  border: none;
  padding: 1rem;
  cursor: pointer;
  font-size: 1rem;
}
.completeBtn {
  background: rgb(88, 236, 88);
}
.todoItem {
  padding: 0rem, 0.5rem;
}
.fa-trash,
.fa-check {
  pointer-events: none;
}
.completed {
  text-decoration: line-through;
  opacity: 0.5;
}
.fade {
  transform: translate(7rem) rotateZ(35deg);
  opacity: 0;
}
select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: none;
  border: none;
}
.select {
  margin: 1rem;
  position: relative;
  overflow: hidden;
}
select {
  color: indigo;
  width: 10rem;
  cursor: pointer;
  padding: 1rem;
}
.select::after {
  content: "\25BC";
  position: absolute;
  background: mediumpurple;
  top: 0;
  right: 0;
  padding: 1rem;
  pointer-events: none;
  transition: all 0.7s ease;
}
.select:hover::after {
  background: white;
  color: mediumpurple;
}
